body {
    background: #48A4F8;
    font-family: 'Roboto Mono', monospace;
}

header h1 {
    margin: 16px 32px;
    font-family: Playfair Display;
    font-size: 32px;
}

.stopwatch {
    display: flex;
    color: #D7ECFF;
    
    font-size: 88px;
    line-height: 103px;

    justify-content: center;
}

.stopwatch-controls ul {
    display: flex;
}
.stopwatch-controls {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.stopwatch-controls a {
    text-decoration: none;
    color: #D7ECFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
}

.stopwatch-controls li:nth-child(1) {
    border-radius: 50px 0 0 50px;
}

.stopwatch-controls li:nth-child(2) {
    border-radius: 0;
}

.stopwatch-controls li:nth-child(3) {
    border-radius: 0 50px 50px 0;
}

.stopwatch-controls li {
    display: flex;
    width: 120px;
    height: 40px;

    margin-top: 16px;

    background: #9BCAF5;

    justify-content: center;
}

.stopwatch-historic {
    color: #D7ECFF;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.stopwatch-historic li {
    margin-top: 16px;
}
