.main {
  display: flex;
  font-size: 298px;
  font-family: 'Nunito', sans-serif;
  color: var(--main-font-color);
  justify-content: center;
  align-items: center;

  min-height: 86.6vh;
  position: relative;

  background: var(  --second-color);
}

.game {
  margin-top: 40px;
}
